<div class="section-progress">Part IV of V: Patient-Centered Counseling Module<br />
Case 3 of 3</div>
<div class="progress-container">
  <div class="progress-bar" style="width:90%;">90%</div>
</div>
<div class="panel panel-info" style="margin-top:1em">

    <div class="panel-body">
        <h4>Case 3</h4>

        <p>I’m just scared that if I end up a carrier, I will worry more, and then if we test the baby and he ends up having Fragile X, I just don’t know what I would do. I love my brother very much, and I wouldn’t trade him for anything in the world. I don’t think I can put myself in the position to have to decide what to do if…[S trails off]. [S turns to doctor] What should I do?</p>

        <p>[A rolls his eyes because he thinks it is obvious that she should get testing]</p>

        <p>Click one of the following statements/questions below to continue the conversation with S and A:</p>
        <ol>
            <li class="box" onclick="document.getElementById('question1').style.display = 'block';"><p>There is no right or wrong way to approach testing, but let’s explore your options further together. How much have you and A discussed the possibility of raising a child with your brother’s condition?</p>
            <div class="guidance" id="question1"><p><em>Guidance:</em> Great job validating that there is not one recommended way to move forward. At the heart of S’s indecision is what she would do with the testing information. While S has grown up with J, her husband has not, so asking them about their previous discussions will shed light on A’s stance and whether they are on the same page.</p></div></li>

            <li class="box" onclick="document.getElementById('question2').style.display = 'block';"><p>There is no right or wrong choice. I support your decision to get testing or to wait until after birth to test the baby. If you want testing, we can draw your blood today. If you need time to think about your options, we can draw your blood at your next appointment.</p>
            <div class="guidance" id="question2"><p><em>Guidance:</em> While this response is supportive and non-judgmental, you have not provided your expertise or guidance to help facilitate a decision between S and A.</p></div></li>

            <li class="box" onclick="document.getElementById('question3').style.display = 'block';"><p>The first step is testing you to determine if you are a carrier. Fragile X carrier screening is safe because it only involves a blood draw. Once we get those results, we can discuss the option of invasive testing in more detail. Hopefully we won’t have to worry about it.</p>
            <div class="guidance" id="question3"><p>While this approach would work great if S ends up with negative results, not planning ahead and anticipating a positive result does not leave S prepared to determine her next steps.  Moreover, this puts her in a higher risk category than she is right now, which may make decision-making about further testing even more difficult due to higher anxiety levels.</p></div></li>

        </ol>

        <div class="text-center proceed" style="margin: 30px auto 10px;">
            <button pi-message-done type="button" class="btn btn-primary"> Continue </button>
        </div>
    </div>

</div>
