<div class="section-progress">Part IV of V: Patient-Centered Counseling Module<br />
Case 3 of 3</div>
<div class="progress-container">
  <div class="progress-bar" style="width:88%;">88%</div>
</div>
<div class="panel panel-info" style="margin-top:1em">

    <div class="panel-body">
        <h4>Case 3</h4>

        <p>S and A, both 30-years-old, come to you because they have recently discovered that S is pregnant. S has a brother, J, with Fragile X syndrome, an X-linked condition characterized by developmental delays, intellectual disabilities, autism, and characteristic facial features. He still lives at home with S’s parents.</p>

        <p>You take a detailed family history and find out that only J is affected with Fragile X Syndrome. However, S’s mother only has one sister, and she does not have any kids. It is likely that S and J’s mother is a premutation carrier, which would mean S has a 50% chance of being a carrier herself. If she is a carrier, she has a 50% chance of passing it down.</p>

        <p>S grew up taking care of her brother and is conflicted about whether she would want to know before birth if her child had Fragile X.</p>

        <p>S: I understand my chances of being a carrier, and part of me wants to get tested so I can be reassured if I come back negative. But, if I am a carrier, I’m not sure I would want to know because then I will just worry.</p>

        <p>A: [Frustrated] Yeah, but then we can do more testing to figure out if the baby has it, right?</p>

        <p>S: Sure, but that type of testing is risky and may hurt the baby [turns to provider], right?</p>

        <p>Click one of the following statements/questions below to continue the conversation with S and A:</p>
        <ol>
            <li class="answer" onclick="showGuidance(this)"><p>Yes, the only way to know with certainty whether a baby has Fragile X syndrome is to do invasive testing, such as an amniocentesis. Would you like me to tell you more about the amnio procedure?</p>
            <div class="guidance"><p><em>Guidance:</em> Jumping into information about invasive testing before exploring the patient’s hesitation to even know her carrier status may cause you to miss a major concern of S’s, which is whether she even wants to know if she is a carrier or if her baby is affected with Fragile X before birth.</p></div></li>

            <li class="answer" onclick="showGuidance(this)"><p>Yes, additional testing is available, but it is invasive and does have a risk for complications. S, you mentioned feeling conflicted about even wanting to know whether you are a carrier. Tell me more about that.</p>
            <div class="guidance"><p><em>Guidance:</em> <span class="excellent">Excellent</span> way of addressing the patient’s question, but getting back to a very important point that S brings up in the beginning: her uncertainty about wanting to know if she is a carrier. “Tell me more about that” is a non-judgmental, open-ended statement used to learn more about the patient’s values without leading a response or making any assumptions.</p></div></li>

            <li class="answer" onclick="showGuidance(this)"><p>Yes, further testing is available to test the baby, but there is a 50% chance you wouldn’t need further testing.</p>
            <div class="guidance"><p><em>Guidance:</em> While providing accurate risk information is very important, this statement minimizes the fact that S has expressed reservations about whether she wants to pursue carrier screening because she is not sure she wants to know her own genetic status. This approach also does not provide S any anticipatory guidance, if she should test positive.</p></div></li>
        </ol>
        <button id="reveal_btn" type="button" class="btn btn-primary" style="margin: 30px 0 10px;" onclick="revealAll()">
            Reveal all guidance
        </button>

        <div id="continue_btn" class="text-center proceed" style="margin: 30px auto 10px; display: none;">
            <button pi-message-done type="button" class="btn btn-primary"> Continue </button>
        </div>
    </div>

</div>
