<div class="section-progress">Part IV of V: Patient-Centered Counseling Module<br />
Case 3 of 3</div>
<div class="progress-container">
  <div class="progress-bar" style="width:94%;">94%</div>
</div>
<div class="panel panel-info">
    <div class="panel-body">
        <h4>Case 3 Summary:</h4>
        <p>As a healthcare provider, it is your duty to provide the best care to all of your patients and to do so in a manner that values both the physical and emotional wellbeing of the patient. Providers may feel that they are helping patients by performing certain tests or providing particular treatments. However, if the patient’s values are not considered when offering testing, then the testing may, in fact, counter what the patient would actually desire. Using patient-centered counseling techniques can help providers not only facilitate patient decision-making that fits more with their beliefs, but also helps them anticipate results and what emotions and decisions they may face when results are back.</p>
        <div class="text-center proceed" style="margin: 30px auto 10px;">
            <button pi-message-done type="button" class="btn btn-primary"> Next </button>
        </div>
    </div>

</div>
