<div class="section-progress">Part IV of V: Patient-Centered Counseling Module<br />
Case 1 of 3</div>
<div class="progress-container">
  <div class="progress-bar" style="width:76%;">76%</div>
</div>
<div class="panel panel-info" style="margin-top:1em">
    <div class="panel-body">
        <h4>Case 1</h4>
        <p>M: I feel I am pretty familiar with Down syndrome, and it does worry me, so I think it would be helpful for me to get prenatal testing. I am pretty type A, so I like to be prepared and know as much as I can.</p>
        <p>Click one of the following statements/questions below to continue the conversation with M:</p>
        <ol>
            <li class="answer" onclick="showGuidance(this);"><p>Based on what you have said, it does sound like you would benefit from testing. In your online research, what have you learned about the various testing options?</p>
            <div class="guidance"><p><em>Guidance:</em> <span class="excellent">Excellent.</span> You have validated her decision to consider genetic testing, but before providing information about the various types of testing, you have asked her to describe what she has researched. This allows the patient to tell you in her own words how she feels about the testing options, where she may have concerns, and what she may have misunderstood.</p></div></li>

            <li class="answer" onclick="showGuidance(this)"><p>In order to know as much as possible, I would recommend amniocentesis. It is the most accurate way to test a pregnancy for genetic conditions like Down syndrome.</p>
            <div class="guidance"><p><em>Guidance:</em> While you are correct in your assessment of the most accurate prenatal test for Down syndrome, many patients fear the amniocentesis-related risks and may feel pressure to do the test their doctor recommends. It would be valuable to explore M’s feelings on having the safest test vs. the most accurate test before recommending a specific test.</p></div></li>

            <li class="answer" onclick="showGuidance(this)"><p>It sounds like you are concerned about Down syndrome. Would you terminate if the results were positive? If the results wouldn’t change anything, you may not benefit from genetic testing.</p>
            <div class="guidance"><p><em>Guidance:</em> While it is great that you are exploring what genetic testing results may mean for M and her pregnancy, many patients pursue testing in order to prepare for the birth of a child with a developmental difference. Others may not think they would terminate before undergoing testing, but after learning of a positive result may reconsider their position on termination. Therefore, termination should not be the only consideration when deciding whether to undergo genetic testing during pregnancy.</p></div></li>
         </ol>
         <button id="reveal_btn" type="button" class="btn btn-primary" style="margin: 30px 0 10px;" onclick="revealAll()">
            Reveal all guidance
        </button>

        <div id="continue_btn" class="text-center proceed" style="margin: 30px auto 10px; display: none;">
            <button pi-message-done type="button" class="btn btn-primary"> Continue </button>
        </div>
    </div>

</div>


