<div class="section-progress">Part IV of V: Patient-Centered Counseling Module<br />
Case 1 of 3</div>
<div class="progress-container">
  <div class="progress-bar" style="width:78%;">78%</div>
</div>
<div class="panel panel-info">
    <div class="panel-body">
        <h4>Case 1 Summary:</h4>
        <p>This case demonstrates how focusing on a patient’s needs, desires, and values in the beginning of an appointment can help you tailor information about testing options. By asking questions, we learn that M is familiar with Down syndrome, she saw the impact of a postnatal diagnosis, and it isn’t clear whether she would terminate the pregnancy if a genetic condition were identified. This information allows you to tailor information to M’s needs and helps you understand motivations behind her testing decisions.</p>
        <div class="text-center proceed" style="margin: 30px auto 10px;">
            <button pi-message-done type="button" class="btn btn-primary"> Next Case </button>
        </div>
    </div>

</div>


