<div class="section-progress">Part IV of V: Patient-Centered Counseling Module<br />
Case 3 of 3</div>
<div class="progress-container">
  <div class="progress-bar" style="width:92%;">92%</div>
</div>
<div class="panel panel-info" style="margin-top:1em">

    <div class="panel-body">
        <h4>Case 3</h4>

        <p>After thoughtful consideration, S elects to undergo carrier screening, and they plan to undergo prenatal testing if she is a carrier. S is found to carry the premutation (120 CGG repeats), and diagnostic testing confirms the fetus is male with the expanded allele (243 repeats), indicating that the fetus has Fragile X syndrome. The couple returns to you for counseling at 18 weeks.</p>

        <p>S: [tearful] I knew this was a possibility, but I was so wishing the testing would tell me my baby is ok. I just don’t know if I can be the mother that my mom was to J. I’m not that strong. But I love J so much. I don’t know what to do. [A sits silently]</p>

        <p>Click one of the following statements/questions below to continue the conversation with S and A:</p>
        <ol>
            <li class="answer" onclick="showGuidance(this)"><p>I understand that this was not the result we were hoping for and figuring out what to do now may be one of the most difficult decisions you have had to make. Have you felt comfortable speaking with your family about this?</p>
            <div class="guidance" id="question1"><p><em>Guidance:</em> This is a good example of empathy and validation followed by a question that seeks to find out more about S’s support network, possible feelings of guilt, and determining if/how much her parents may be involved with this decision.</p></div></li>

            <li class="answer" onclick="showGuidance(this)"><p>This decision must be very difficult. According to our state law, you have until 22 weeks gestation to make the decision to terminate. I can provide you with the contact information to a clinic, if that is what you choose.</p>
            <div class="guidance" id="question2"><p><em>Guidance:</em> Offering referral information about termination is helpful once a couple has made the decision to terminate, but offering information prematurely before exploring the patient’s reasons and feelings of guilt and conflict may make the patient feel like it is not an open forum to discuss her decision, fears, and uncertainty.</p></div></li>

            <li class="answer" onclick="showGuidance(this)"><p>Regardless of your decision about the pregnancy, it does not change the love you have for your brother. Can you tell me more about J? What aspects of Fragile X make you most concerned about continuing the pregnancy? A, I would also like to hear your thoughts.</p>
            <div class="guidance" id="question3"><p><em>Guidance:</em> Validation of her love for her family is very important, as this decision is clearly causing S to feel guilty. Asking more about J and what about Fragile X is most concerning to S will identify possible influences on their decision and can lead to active reflection. Involving A is also incredibly important as he has remained silent and has seemed frustrated in previous sessions.</p></div></li>
        </ol>
        <button id="reveal_btn" type="button" class="btn btn-primary" style="margin: 30px 0 10px;" onclick="revealAll()">
            Reveal all guidance
        </button>

        <div id="continue_btn" class="text-center proceed" style="margin: 30px auto 10px; display: none;">
            <button pi-message-done type="button" class="btn btn-primary"> Continue </button>
        </div>
    </div>

</div>
