<div class="section-progress">Part IV of V: Patient-Centered Counseling Module<br />
Case 2 of 3</div>
<div class="progress-container">
  <div class="progress-bar" style="width:82%;">82%</div>
</div>
<div class="panel panel-info" style="margin-top:1em">
    <div class="panel-body">
        <h4>Case 2</h4>
         <p>S: We are very aware of all the possibilities. We can have a tall kid, one like us, or the really bad form that causes babies to pass away. But there is a way to test early in pregnancy, right?</p>

        <p>Click one of the following statements/questions below to continue the conversation with S:</p>
        <ol>
            <li class="box" onclick="document.getElementById('question4').style.display = 'block';"><p>You are correct, S. You both seem well informed. Have you had a chance to discuss what the results of the testing would mean to you and your pregnancy?</p>
            <div class="guidance" id="question4"><p><em>Guidance:</em> Excellent. You are trying to understand what the couple hopes to learn from the testing and how it will impact their pregnancy management. This information will help you understand the patients’ motivations and help you facilitate decisions that are consistent with their values.</p></div></li>

            <li class="box" onclick="document.getElementById('question5').style.display = 'block';"><p>Absolutely. There is a 25% chance of having a child of typical stature, a 50% chance of achondroplasia, and a 25% chance of the more severe form. Prenatal testing can be performed by invasive testing, but there are some procedure related risks. [Proceed to discussion of risks and benefits of invasive testing vs. screening by ultrasound].</p>
            <div class="guidance" id="question5"><p><em>Guidance:</em> This information is accurate, and it directly answers S’s questions. However, it is important to address what the results of such testing would mean to the couple as this could make a big impact on whether the couple feels invasive testing is worthwhile. By skipping directly to the risks of the procedure, it may cause you to overlook exploring the value of what the amniocentesis results are to the couple.</p></div></li>

            <li class="box" onclick="document.getElementById('question6').style.display = 'block';"><p>Yes, there is a 25% chance the baby can have what is called the “double dominant” form which is usually lethal. Babies may be born alive, but they typically pass soon after birth due to breathing problems.</p>
            <div class="guidance" id="question6"><p><em>Guidance:</em> This information is accurate, but the couple appear to be well informed about the severe form, and this line of information does not address S’s questions about testing nor does it explore the couple’s feelings about testing and what these outcomes mean for them.</p></div></li>
        </ol>

        <div class="text-center proceed" style="margin: 30px auto 10px;">
            <button pi-message-done type="button" class="btn btn-primary"> Continue </button>
        </div>
    </div>

</div>







