<!-- See intro text.html in the text assets directory for editable version -->
<div class="panel panel-info">
  <div class="panel-body">
    <h1>Patient-Centered Genetic Counseling</h1>

    <h5>Agenda</h5>
    <p>The participant will have the opportunity to engage in a professional development exercise focusing on clinical decision making in the prenatal setting. The module will use both hypothetical clinical prenatal cases and an educational component introducing the principles of patient-centered counseling and shared decision-making.</p>

    <h5>Needs Assessment</h5>
    <p>All health care providers (and students who will become providers) bring personal experience into the exam room. These experiences can sometimes make it difficult to apply patient-centered genetic counseling techniques in prenatal clinics. Even though there is a best counseling strategy, there is no instrument to determine the specific relationship between personal experiences and the genetic counseling recommendations by current providers. There is currently also a lack of training/curriculum offered to students (future health care professionals). This program aims to provide participants with the tools needed to follow best practices in patient-centered counseling.</p>

    <h5>Learning Objectives</h5>
    <p>After completing this online activity, learners will be able to:
      <ol>
        <li>Identify personal implicit biases towards individuals with physical and/or intellectual disability.</li>
        <li>Illustrate principles of patient-centered counseling.</li>
        <li>Apply patient-centered counseling approaches to cases involving patients with disabilities in order to promote patient-centered care.</li>
      </ol>
    </p>

    <h5>Target Audience</h5>
    <p>The target audience is physicians, genetic counselors, other health care providers, faculty and students who are interested in counseling prenatal clinical genetic disorders. Health care providers need not specialize in genetics to benefit from this program.</p>

    <img src="./study/media/BU_logo.png" style="margin-top: 18px;" />
    <h5 style="margin-top: 10px;">Accreditation Statement</h5>
    <p>Boston University School of Medicine is accredited by the Accreditation Council for Continuing Medical Education to provide continuing medical education for physicians.</p>
    <p>Boston University School of Medicine designates this enduring material for a maximum of 1.0 AMA PRA Category 1 Credit™. Participants should claim only the credit commensurate with the extent of their participation in the activity.</p>
    <p><strong>Genetic Counselor CEUs:</strong> This event has been submitted to the National Society of Genetic Counselors (NSGC) for approval of Category 1 CEUs. The American Board of Genetic Counseling (ABGC) accepts CEUs approved by NSGC for purposes of recertification. Approval for the requested CEUs and Contact Hours is currently pending.</p>

    <h5>Faculty Disclosures</h5>
    <p>Boston University School of Medicine asks all individuals, and their spouses/partners, involved in the development and presentation of Continuing Medical Education (CME) and Continuing Nursing Education (CNE) activities to disclose all relevant financial relationships with commercial interests. This information is disclosed to CME activity participants prior to the start of the educational activity. Boston University School of Medicine has procedures to resolve all conflicts of interest. In addition, faculty members are asked to disclose when any unapproved use of pharmaceuticals and devices is being discussed.</p>

    <h5>List of faculty and planners</h5>
    <ul class="address">

      <li><p><strong>Shoumita Dasgupta, PhD </strong><br />
      Course Director<br />
      Professor of Medicine, Biomedical Genetics<br />
      Boston University School of Medicine<br />
      Boston, MA<br /></p></li>

      <li><p><strong>Blair Stevens, MS, CGC</strong><br />
      Course Faculty<br />
      Assistant Professor of Obstetrics, Gynecology, and Reproductive Sciences<br />
      University of Texas, McGovern Medical School<br /></p></li>

      <li><p><strong>Emma Vaimberg, BS</strong><br />
      Course assistant, reviewer, planning committee<br />
      Medical Student<br />
      Boston University School of Medicine<br /></p></li>

      <li><p><strong>Eric Ford, PhD</strong><br />
      Course assistant, reviewer, planning committee<br />
      Software developer<br />
      Story Street Consulting<br /></p></li>

      <li><p><strong>Planning Committee members:</strong> Julie White, MS, CHCP and Jody Walker Boston University School of Medicine: Barry M. Manuel Continuing have no relevant financial relationships to disclose.</p></li>

      <li><p>All faculty and planning committee members have no relevant financial relationships to disclose.
      All faculty do not plan on discussing unlabeled/investigational uses of a commercial product.</p></li>
    </ul>

    <p><strong>Start Date: </strong>TK<br /></p>
    <p><strong>End Date: </strong>TK</p>

    <h5>How to Obtain CME Credit</h5>
    <p>Complete of all reading assignments, answer all questions, and pass the post test with a score of 80% or more. When you have successfully passed the test, we will email you with specific instructions about how to download your certificate.</p>

    <div style="text-align: center; font-style: italic;">
      If you have any questions or concerns, please don’t hesitate to contact the CME office:<br />
      <a href="mailto:cme@bu.edu">cme@bu.edu</a> | 617-358-5005
    </div>

    <h5>Acknowledgments</h5>
    <p>AAMC Northeast Group on Educational Affairs<br />
    National Human Genome Research Institute</p>

    <h5>Disclaimer</h5>
    <p>THIS CONTINUING MEDICAL EDUCATION PROGRAM IS INTENDED SOLELY FOR EDUCATIONAL PURPOSES FOR QUALIFIED HEALTH CARE PROFESSIONALS. THIS PROGRAM DOES NOT REPLACE YOUR HOME COUNTRY’S LAWS, REGULATIONS, AND GUIDELINES CONCERNING MEDICAL CARE AND DRUG PRESCRIPTION ACTIVITIES. IN NO EVENT SHALL BOSTON UNIVERSITY BE LIABLE FOR ANY DECISION MADE OR ACTION TAKEN IN RELIANCE ON THE INFORMATION CONTAINED IN THE PROGRAM. IN NO EVENT SHOULD THE INFORMATION CONTAINED IN THE PROGRAM BE USED AS A SUBSTITUTE FOR PROFESSIONAL CARE. NO PHYSICIAN-PATIENT RELATIONSHIP IS BEING ESTABLISHED.</p>

    <p>BUSM CME complies with the ADA and the rules and regulations thereof to make reasonable accommodations for our educational activities. If any participant in this educational activity is in need of accommodations, please contact BUSM CME at 617-358-5005.</p>
    <div class="text-center proceed" style="margin: 30px auto 10px;">
        <button pi-message-done type="button" class="btn btn-primary"> Continue </button>
    </div>
  </div>
</div>


