<div class="section-progress">Part I of V: Clinical Scenarios<br />
Scenario 1 of 4</div>
<div class="progress-container">
  <div class="progress-bar" style="width:6%;">6%</div>
</div>
<div class="panel panel-info" style="margin-top:1em">

    <div class="panel-body">
        <h1>Clinical Scenario One</h1>
        <p>A couple, Mr. and Mrs. J, comes to you after learning that they are expecting a male child. Mrs. J tells you about her family history of Becker Muscular Dystrophy (BMD) and that she knows she is a carrier for the disease. BMD is an X-linked condition that causes progressive skeletal muscle weakness and cardiomyopathy. BMD typically presents in childhood or adolescence, and individuals with BMD have an average lifespan of 40 to 50 years. The phenotype typically presents only with physical aspects to the condition. Your patient is concerned about her risk for passing on BMD, and she asks you to perform genetic testing to determine if the fetus has Becker Muscular Dystrophy.</p>
        <div class="text-center proceed" style="margin: 30px auto 10px;">
            <button pi-message-done type="button" class="btn btn-primary"> Continue </button>
        </div>
    </div>

</div>


