<div class="section-progress">Part V of V: Clinical Scenarios<br />
Scenario 4 of 4</div>
<div class="progress-container">
  <div class="progress-bar" style="width:98%;">98%</div>
</div>
<div class="panel panel-info" style="margin-top:1em">

    <div class="panel-body">
        <h1>Clinical Scenario Four</h1>
        <p>A 38-year-old female, Ms. F, is referred to you at 18 weeks gestation because she had a prenatal blood test that evaluates DNA from the pregnancy in maternal blood (cell-free DNA screening), and the test has come back indicating the pregnancy has an increased risk to be affected with Down syndrome. Down syndrome is characterized by a wide range of developmental and physical disabilities, including mild to moderate intellectual disabilities, developmental delay, characteristic facial features, congenital heart defects and other congenital anomalies, and an increased risk for several health concerns, most of which are treatable. You counsel the patient that while the blood test results show an increased chance that the fetus has Down Syndrome (approximately 90% chance), it is not definitive, and an amniocentesis is necessary to rule out or diagnose the condition.</p>
        <div class="text-center proceed" style="margin: 30px auto 10px;">
            <button pi-message-done type="button" class="btn btn-primary"> Continue </button>
        </div>
    </div>

</div>


