<div class="section-progress">Part I of V: Clinical Scenarios<br />
Scenario 2 of 2</div>
<div class="progress-container">
  <div class="progress-bar" style="width:12%;">12%</div>
</div>
<div class="panel panel-info" style="margin-top:1em">

    <div class="panel-body">
        <h1>Clinical Scenario Two</h1>
        <p>A 30-year-old woman, Ms. N, comes to you because she recently learned she is a premutation carrier of Fragile X syndrome and is pregnant with a male fetus. Fragile X syndrome is an X-linked condition characterized by cognitive impairment, developmental delays, and autism. She understands that she has a 50% risk to have a baby with Fragile X syndrome and is interested in learning more about her testing options.</p>
        <div class="text-center proceed" style="margin: 30px auto 10px;">
            <button pi-message-done type="button" class="btn btn-primary"> Continue </button>
        </div>
        <p>
    </div>

</div>


