<div class="section-progress">Part III of V: Introduction to Patient-Centered Counseling<br />
Section 3 of 4</div>
<div class="progress-container">
  <div class="progress-bar" style="width:66%;">66%</div>
</div>
<div class="panel panel-info" style="margin-top:1em;">

    <div class="panel-body">
        <h1>An Introduction to Patient-Centered Counseling: <br />An Educational Web Module</h1>

        <h3>What are some challenges to maintaining a patient-centered approach when counseling patients?</h3>
        <p>When counseling a patient, you should not be influenced by your personal biases and interests. However, all healthcare providers have personal bias, whether consciously or not, and numerous studies have demonstrated that these biases can have a strong negative impact on patient interactions, including treatments offered and clinical outcomes. Maintaining an empathic connection, free from judgement and coercion, can be challenged by various factors including when a patient has different values or perspectives than the healthcare provider, when assumptions are made about a patient’s experience, or when a limited amount of face to face time is available, preventing the development of trust and rapport. When counseling a patient, you can ask yourself:
            <ol>
                <li>Do you understand the needs of your patient in making decisions?</li>
                <li>Have you developed effective methods of presenting risk information?</li>
                <li>Have you explored, respected, and incorporated the patient’s personal experiences, beliefs, and attitudes?</li>
                <li>Have you engaged with the counselee in the decision-making process?</li>
                <li>Have you utilized an interactive style of counseling?</li>
            </ol>
        </p>
        <h5>Application of Patient-Centered Counseling</h5>
        <p>To better understand the patient-centered approach, you will work through a number of cases that could present in a prenatal or pre-conception setting.</p>

        <div class="text-center proceed" style="margin: 30px auto 10px;">
            <button pi-message-done type="button" class="btn btn-primary"> Click Here to Proceed </button>
        </div>
    </div>

</div>
