<div class="section-progress">Part III of V: Introduction to Patient-Centered Counseling<br />
Section 2 of 4</div>
<div class="progress-container">
  <div class="progress-bar" style="width:54%;">54%</div>
</div>
<div class="panel panel-info" style="margin-top: 1em;">

    <div class="panel-body">
        <h1>An Introduction to Patient-Centered Counseling: <br />An Educational Web Module</h1>
        <h3>Introduction</h3>
        <p>As a medical provider, you will be responsible for helping patients make important decisions about their healthcare. It is not only your responsibility to discuss potential risks and benefits related to medical decisions, but it is also critical for you to understand your patients’ goals. Understanding your patients’ values can help you advise them on decisions that are consistent with their own wishes and beliefs. Some of the decisions your patients may face can be challenging and may even bring up ethical challenges for both you and your patient. Situations in which you may encounter these challenges could involve risk assessment for hereditary cancer, discussing preconception and reproductive health, or prenatal diagnoses, to name a few.</p>

        <p>In prenatal and preconception counseling, there are many important counseling aspects to consider, especially as they relate to prenatal genetic diagnoses and pregnancy management options. In this module, you will learn about patient-centered counseling, patient autonomy, and shared decision-making, and apply these concepts to clinical cases in the prenatal setting.</p>

        <h5>Goals:</h5>
          <ol>
              <li>Describe a patient-centered model for genetic counseling</li>
              <li>Outline how to facilitate autonomous decision-making</li>
              <li>Apply knowledge of patient-centered genetic counseling techniques to clinical case scenarios</li>
          </ol>

        <div class="text-center proceed" style="margin: 30px auto 10px;">
            <button pi-message-done type="button" class="btn btn-primary"> Click Here to Proceed </button>
        </div>
    </div>

</div>
