<div class="section-progress">Part III of V: Introduction to Patient-Centered Counseling<br />
Section 4 of 4</div>
<div class="progress-container">
  <div class="progress-bar" style="width:71%;">71%</div>
</div>
<div class="panel panel-info" style="margin-top:1em;">

    <div class="panel-body">
        <h1>An Introduction to Patient-Centered Counseling: <br />An Educational Web Module</h1>
        <h3>References</h3>
        <ol>
            <li>Chapman, Elizabeth N., Anna Kaatz, and Molly Carnes. “Physicians and implicit bias: how doctors may unwittingly perpetuate health care disparities.” <em>Journal of general internal medicine</em> 28.11 (2013): 1504-1510.</li>
            <li>Cooper, Lisa A., et al. “The associations of clinicians’ implicit attitudes about race with medical visit communication and patient ratings of interpersonal care.” <em>American journal of public health</em> 102.5 (2012): 979-987.</li>
            <li>Green, Alexander R., et al. “Implicit bias among physicians and its prediction of thrombolysis decisions for black and white patients.” <em>Journal of general internal medicine</em> 22.9 (2007): 1231-1238.</li>
            <li>Hoffman, K. M., Trawalter, S., Axt, J. R., &amp; Oliver, M. N. (2016). Racial bias in pain assessment and treatment recommendations, and false beliefs about biological differences between blacks and whites. <em>Proceedings of the National Academy of Sciences</em>, 113(16), 4296-4301.</li>
            <li>Kessler S. Psychological aspects of genetic counseling. XI. Nondirectiveness revisited. <em>Am J Med Genet</em> 72:164-171.
            </li><li>McCarthy Veach P LB, Callanan N. <em>Facilitating the Genetic Counseling Process: Practice Based Skills. 2 ed</em>: Springer International Publishing; 2018.</li>
            <li>Uhlman W, Schuette J, Yashar B. <em>Guide to Genetic Counseling</em>. 2009
            </li><li>Weil, Jon, et al. “The relationship of nondirectiveness to genetic counseling: report of a workshop at the 2003 NSGC Annual Education Conference.” <em>Journal of Genetic Counseling</em> 15.2 (2006): 85-93.</li>
            <li>Weil J. <em>Psychosocial genetic counseling</em>. New York: Oxford University Press; 2000.</li>
        </ol>

        <div class="text-center proceed" style="margin: 30px auto 10px;">
            <button pi-message-done type="button" class="btn btn-primary"> Click Here to Proceed </button>
        </div>
    </div>

</div>
