<div class="progress-container">
  <div class="progress-bar" style="width:100%;">100%</div>
</div>
<div class="panel panel-info">
  <div class="panel-body">
    <h5>Thank you for completing the patient-centered counseling module. Our goals in creating this module are four-fold:</h5>
    <ol>
      <li>Uncover biases held by providers/trainees against those with intellectual and/or physical disability</li>
      <li>Determine how these biases may impact clinical decision-making</li>
      <li>Design an educational module to teach providers/trainees how to appropriately counsel patients</li>
      <li>Determine whether an educational intervention has an impact on clinical decision-making</li>
    </ol>

    <p>Numerous studies have demonstrated that physician implicit bias can have a negative impact on patient care. We seek to study the impact that an implicit (or unconscious) bias against individuals with intellectual and/or physical disability may have on provider and trainee clinical decision-making. We are particularly focused on the impact this bias could have on counseling in the prenatal setting, as this is an instance in which provider and patient can intervene on pregnancy outcome. As you have experienced, we assessed clinical decision-making through clinical vignettes, followed by our custom Implicit Association Test that measures disability bias. Finally, you have completed an educational module that discusses the principles of patient-centered counseling and shared decision-making, after which we determined the impact of these educational interventions with additional clinical vignettes.</p>

    <p>We did not explicitly disclose the focus on provider/trainee biases during the consent process because we felt that disclosing the entire nature of the study would bias the results.</p>

    <p>Please feel free to reach out to <a href="mailto:dasgupta@bu.edu">Dr. Shoumita Dasgupta</a> or <a href="mailto:vaimberg@bu.edu">Emma Vaimberg</a> with any further questions about this study or if you would like any information on the results. </p>

    <p>We are grateful for your help studying the important factors that contribute to clinical guidance.</p>
    </div>
    <div class="text-center proceed" style="margin: 30px auto 10px;">
      <p>Your IAT results will be presented to you on the next page.</p>
        <button pi-message-done type="button" class="btn btn-primary"> Continue </button>
    </div>

</div>


