<div class="panel panel-info" style="margin-top:1em; color:black; font-weight: 300; font-size: 14px;">
  <div class="panel-body">
        <h3>You have chosen not to participate in Project Inclusive Genetics study.</h3>
    </div>
</div>


