<div class="panel panel-info" style="margin-top:1em; color:black; font-weight: 300; font-size: 14px;">
  <div class="panel-body">
        <h3>You have chosen not to participate in Project Inclusive Genetics study.</h3>
        <p>if you change your mind and would like to participate in this study, you may use the same link, <a href="https://www.storystreetconsulting.com/project-inclusive/">https://www.storystreetconsulting.com/project-inclusive</a>, to navigate to the first page and select “I agree to participate.”</p>
    </div>
</div>


