<div class="section-progress">Part III of V: Implicit Association Tests</div>
<p>
    Thank you for completing the first Implicit Association Test (IAT). There is one more short IAT to work through, and similar instructions apply.<p>

    <p>In this task, you will see words,
    presented one at a time at the center of the screen.
    The categories will be presented at the top-right and top-left corners of the screen. For each word,
    if it belongs to a category on the right, hit the key <strong>i</strong>, and if it belongs to a category on the left,
    hit the key <strong>e</strong>.
    <br/><br/>
    For instance, in the illustration below, because the image belongs to the category
    ‘Dogs’ that appears on the right, the correct response is <strong>i</strong>.
</p>
<div>
    <img class="center-block" width="362" src="<%=global.mediaURL%>iat.jpg" />
</div>

<button type="button" pi-message-done>Click here to proceed</button>
