<div class="panel panel-info">

    <div class="panel-body">
        <h1>Clinical Decision-Making in the Prenatal Setting</h1>

        <h3>Purpose:</h3>

        The investigators (Emma Vaimberg, Shoumita Dasgupta PhD) are conducting a research study to examine the clinical decision-making practices of providers and trainees in the prenatal setting.

        <h3>Procedures:</h3>
        <p>Participation in this study will involve completing a pre- and post- survey and may involve an educational module on the principles of patient-centered counseling and shared decision-making. We anticipate that your involvement in this study will require about 1 hour of your time. You will receive no compensation for your participation.</p>

        <h3>Risks and Benefits:</h3>
        <p>There are no perceived risks or anticipated adverse effects resulting from your participation in this study. The potential benefits of this study involve improved cultural competency training, which may translate to better clinical care during your clinical practice. </p>

        <h3>Confidentiality:</h3>
        <p>We must use information that shows your identity only for the purpose of providing CME/CEU credits, if you choose to receive them. The rest of the information that you provide in this study will be handled anonymously. Any information that is personally identifiable will not be included for response analysis.</p>

        <h3>Voluntary Participation:</h3>
        <p>Participation in this study is completely voluntary. You are free to decline to participate, to end participation at any time for any reason, or to refuse to answer any individual question without penalty.</p>

        <h3>Subject’s Rights</h3>
        <p>By consenting to be in this study, you do not waive any of your legal rights. Consenting means that you have been given information about this study and that you agree to participate in the study. Please save this form or contact the study team if you would like a copy of this form to keep.</p>

        <p>If you do not agree to be in this study or if at any time you withdraw from this study, you will not suffer any penalty or lose any benefits to which you are entitled. Your participation is completely up to you. Your decision will not affect your ability to get health care or payment for your health care. It will not affect your enrollment in any health plan or benefits you can get.</p>


        <h3>Questions:</h3>
        <p>If you have any questions about this study, you may contact Emma Vaimberg by email at vaimberg@bu.edu.</p>


        <div class="text-center proceed" style="margin: 30px auto 10px;">
            <button pi-message-done type="button" class="btn btn-primary"> Click Here to Proceed </button>
        </div>
    </div>

</div>


