<div class="panel panel-info" style="margin-top:1em;">
  <div class="panel-body">
    <div class="thanks">
      <img src="./study/media/P-I_logo.png" class="p-i-logo"/>
      <h3>Your Participation is Important!</h3>
      <p>Thank you again for participating in this research study!</p>
      <p>We have learned so much from people like you taking the time to be part of our work.</p>
      <p>If you’d like to learn more about the impact of this educational module on reducing the impact of bias on clinical care, below is the first paper resulting from this work.</p>
      <p>E Vaimberg, L Demers, E Ford, M Sabatello, B Stevens, and S Dasgupta (2021) Project Inclusive Genetics: Exploring the Impact of Patient-Centered Counseling Training on Physical Disability Bias in the Prenatal Setting. PLOS ONE. <a href="https://doi.org/10.1371/journal.pone.0255722">https://doi.org/10.1371/journal.pone.0255722</a></p>
      <div class="grant-support">
        <p><em>This module was developed with grant support from the American Association of Medical Colleges Northeast Group on Educational Affairs (AAMC NEGEA) and the National Human Genome Research Institute (NHGRI). The NHGRI Intersociety Coordinating Committee for Health Professional Education in Genomics (ISCC) provided interdisciplinary support and expertise for the development of this program.</em></p>
        <div class="grant-logos">
          <div>
            <img src="./study/media/AAMC-logo_large.png" height="75px" style="margin: 0 auto;"/>
          </div>
          <div>
            <img src="./study/media/logo_nhgri.png" height="75px" style="margin: 0 auto;"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
