<div class="panel panel-info" style="margin-top:1em">

    <div class="panel-body">
        <h1>Your Participation is Important!</h1>
        <p>Thank you again for participating in this research study!</p>
        <p>We send contact information and completion notices to continuing education committees on a monthly basis, so please be on the lookout for confirmation of credit for this course in 4–6 weeks.</p>
    </div>
</div>
