<div class="panel panel-info" style="margin-top:1em">

    <div class="panel-body">
        <h1>Your Participation is Important!</h1>
        <p>Thank you again for participating in this research!</p>
        <p>We have learned so much from people like you taking the time to be part of our work.</p>
    </div>
</div>
