<div class="panel panel-info" style="margin-top:1em;">
  <div class="panel-body">
    <div class="thanks">
      <img src="./study/media/P-I_logo.png" class="p-i-logo"/>
      <h3>You have chosen not to participate in Project Inclusive Genetics study.</h3>
      <p>if you change your mind and would like to participate in this study, you may use the same link, <a href="https://www.bu.edu/dbin/project-inclusive/">https://www.bu.edu/dbin/project-inclusive/</a>, to navigate to the first page and select “I agree to participate.”</p>
      <div class="grant-support">
        <p><em>This module was developed with grant support from the American Association of Medical Colleges Northeast Group on Educational Affairs (AAMC NEGEA) and the National Human Genome Research Institute (NHGRI). The NHGRI Intersociety Coordinating Committee for Health Professional Education in Genomics (ISCC) provided interdisciplinary support and expertise for the development of this program.</em></p>
        <div class="grant-logos">
          <div>
            <img src="./study/media/AAMC-logo_large.png" height="75px" style="margin: 0 auto;"/>
          </div>
          <div>
            <img src="./study/media/logo_nhgri.png" height="75px" style="margin: 0 auto;"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


