<div class="section-progress">Part IV of V: Patient-Centered Counseling Module<br />
Case 2 of 3</div>
<div class="progress-container">
  <div class="progress-bar" style="width:84%;">84%</div>
</div>
<div class="panel panel-info" style="margin-top:1em">
    <div class="panel-body">
        <h4>Case 2</h4>
        <p>S: My biggest concern is for C. Pregnancy is going to be hard on her body, so we have already had serious discussions about testing and what we would do.</p>

        <p>Provider: Can you tell me more about that?</p>

        <p>S: We want testing as early as possible because if we find out the baby has the bad form, we do not want to put C through that pregnancy. And to be honest [S looks over at C hesitantly], we haven’t really discussed this... but if the results come back showing the baby will be normal sized, I’m thinking it may be best to terminate that pregnancy as well. [Speaking faster now] It’s just that C is so small and having a big baby will be even harder for her, and I just can’t imagine raising a child that will be taller than me by the time they are in the third grade! It would just be easier to have a baby like us. [C is silent and is looking at the floor]</p>
        <p>Click one of the following statements/questions below to continue the conversation with C and S:</p>
        <ol>
            <li class="answer" onclick="showGuidance(this)"><p>Thank you for sharing, S. C, how do you feel about what S shared?</p>
            <div class="guidance"><p><em>Guidance:</em> <span class="excellent">Good</span>, you are allowing S to share his feelings in a non-judgmental manner. But before providing more information, you explore C to determine whether she feels the same way or if they are on different pages.</p></div></li>

            <li class="answer" onclick="showGuidance(this)"><p>[To S] It sounds like not only have you been thinking about your future children, but you have also been worried about your wife’s health. We can definitely address your concerns related to pregnancy in someone with achondroplasia as well as termination options during pregnancy. Before we go into that, C, how do you feel about what S shared with us?</p>
            <div class="guidance"><p><em>Guidance:</em> <span class="excellent">Excellent</span> job of validating S’s worry for his wife’s health and making an agenda so S is assured that you are going to address each of his concerns. This response also allows you to explore C’s feelings to determine her fears and desires before providing medical information.</p></div></li>

            <li class="answer" onclick="showGuidance(this)"><p>I can understand your concerns, S. Are you familiar with in-vitro fertilization? There is a way you can test embryos before you get pregnant. That way you don’t have to terminate a healthy baby.</p>
            <div class="guidance"><p><em>Guidance:</em> While it is important to inform the couple of the option for IVF and preimplantation genetic diagnosis, jumping to this information before exploring S’s comment further and C’s feelings on his comment can deprive you of a very important opportunity to explore the couple’s desires that will aid you in offering appropriate testing and management options. It can also come off as judgmental to comment that you won’t “have to terminate a healthy baby.” Despite your feelings about termination of a healthy pregnancy, your patient and her partner need to feel they are in a safe and judgement-free environment so they feel comfortable sharing their fears and desires.</p></div></li>
         </ol>
         <button id="reveal_btn" type="button" class="btn btn-primary" style="margin: 30px 0 10px;" onclick="revealAll()">
            Reveal all guidance
        </button>

        <div id="continue_btn" class="text-center proceed" style="margin: 30px auto 10px; display: none;">
            <button pi-message-done type="button" class="btn btn-primary"> Continue to next case </button>
        </div>
    </div>

</div>







