<div class="section-progress">Part IV of V: Patient-Centered Counseling Module<br />
Case 2 of 3</div>
<div class="progress-container">
  <div class="progress-bar" style="width:86%;">86%</div>
</div>
<div class="panel panel-info">
    <div class="panel-body">
        <h4>Case 2 Summary:</h4>
        <p>In this case, patient-centered counseling techniques and open-ended questions were used to determine the couple’s values. In genetic conditions in which extensive modifications to the home or lifestyle are required, parents may elect to have children with the same genetic condition, despite other medical risks that may accompany the desired trait. Other times, the parents may not want a child with the same genetic condition as them. It is important in cases such as this to not make assumptions about what the parents want, support them as they learn more about their options, and help them to understand the risks and benefits.</p>
        <div class="text-center proceed" style="margin: 30px auto 10px;">
            <button pi-message-done type="button" class="btn btn-primary"> Next Case </button>
        </div>
    </div>

</div>







