<div class="section-progress">Part III of V: Introduction to Patient-Centered Counseling<br />
Section 2 of 4</div>
<div class="progress-container">
  <div class="progress-bar" style="width:60%;">60%</div>
</div>
<div class="panel panel-info" style="margin-top:1em;">

    <div class="panel-body">
        <h1>An Introduction to Patient-Centered Counseling: <br />An Educational Web Module</h1>
        <h3>What is Patient-Centered Counseling?</h3>
        <p>Healthcare providers in a reproductive health setting (both preconception and prenatal) may frequently find themselves educating patients on genetic screening and testing options and delivering test results. Unlike many medical scenarios, the benefits and risks surrounding reproductive decision-making may be uncertain or depend upon patient-specific factors. Therefore, while it is imperative to provide information that is accurate, balanced, and up-to-date, quality patient care is more than just providing information and being an educator. Patient-centered care also includes taking the time to understand the patient’s values and how those may be impacted by test results and medical decisions. In other words, a healthcare provider must be an educator, facilitator, advocate, and guide for patients.</p>

        <p>As a healthcare provider, you must recognize your own biases and intentions and aim to put yourself in the shoes of your patients so that you can understand their goals and values. When counseling patients, providers should have unconditional positive regard of the patient, empathy, genuineness, and respect for patient autonomy. This approach will empower patients, allowing them to make independent, informed decisions. This is also at the basis of non-directive counseling, which involves helping a patient focus on how to make decisions as opposed to what decision to make.</p>

        <p><h5>Key elements of promoting autonomous patient decision-making can include:</h5>
            <ol>
                <li>Building patient self-esteem and competence</li>
                <li>Assessing prior experience with decision-making</li>
                <li>Helping the patient structure and understand the decision-making process</li>
                <li>Exploring reasons for decision-making</li>
                <li>Exploring differences among stakeholders in the decision</li>
                <li>Recognizing cultural influences</li>
                <li>Aiding with feelings of guilt</li>
                <li>Helping the patient obtain support and guidance from significant others and professionals</li>
                <li>Helping the patient engage in anticipatory activities</li>
            </ol>
        </p>

        <p><h5>Counselors can facilitate autonomous choice by:</h5>
            <ol>
                <li>Engaging the patient in critical and active reflection</li>
                <li>Exploring fundamentals of patients’ desires</li>
                <li>Identifying influences on deliberation and decision</li>
                <li>Evaluating rationality of decision</li>
                <li>Providing support</li>
                <li>Not focusing solely on information</li>
            </ol>
        </p>

        <div class="text-center proceed" style="margin: 30px auto 10px;">
            <button pi-message-done type="button" class="btn btn-primary"> Click Here to Proceed </button>
        </div>
    </div>

</div>
